@charset:"utf-8";

 #gameName {
            font-size: 50px;
            color: antiquewhite;
            padding: 10px;
            text-align: center;
            background-color: #ff3f3f;
            border: 3px solid white;  
        }
        #StartButton {
            color: antiquewhite;
            background-color: #265499;
            font-size: 30px;
            margin-left:48%;
        }
        #geo1 {
            width: 128px;
            height: 128px;
            padding: 10px;
            float: left;
        }
        #geo2 {
            width: 128px;
            height: 128px;
            padding: 10px;
            float: left;
        }
        #geo3 {
            width: 128px;
            height: 128px;
            padding: 10px;
            float: left;
        }
        #geo4 {
            width: 128px;
            height: 128px;
            padding: 10px;
            float: left;
        }
        #geo5 {
            width: 128px;
            height: 128px;
            padding: 10px;
            float: left;
        }
        #geo6 {
            width: 128px;
            height: 128px;
            padding: 10px;
            float: left;
        }
        #drop {
            width: 128px;
            height: 128px;
            padding: 5px;
            text-align: center;
            vertical-align: middle;
            line-height: 128px;
            font-size: 15px;
            border: 2px dotted white;
            position: static;
        }