/* Prepared by Miguel Legault 8547102
    June 4, 2017
    CSS common to all games and pages.
    Additionnal css for individual games in separate files
*/


html, body {
    width:100%;
    position: static;
    padding: 0;
    margin: 0;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    background-image: url(../images/banner.jpg);
    position: absolute;
    height:100%;
    width: 100%;
}

.flex-container > * {
        padding: 5px;
        -webkit-flex: 1 100%;
        flex: 1 100%;
                
}

section { /* The section element holds the game board or surface*/
    text-align: left;
    border: 3px solid white;
    background: #3CDBD3;
    vertical-align:middle;    
   }
article { /* The article element holds the instructions*/
    
    color: white;
    border: 3px solid white;
    background: #FF4444;
    text-align:left;
    font-size:16px;  
}

header {
    width: 100%;
    text-align: left;
    color: #10476f;
    height: auto;
    line-height: 1px;
    font-size: 50px;
    font-family: 'Hind Guntur', sans-serif;
    vertical-align: middle;
    background-repeat: no-repeat;
    border: 3px solid white;
}

footer {
    background-image:url(../images/banner.jpg);
    color: #545b61;
    text-align: center;
    border: 3px solid white;
    font-size: 18px;
}

.nav {
    background: #265499;
    height: auto;
    padding: 1px;
    border: 3px solid white;
            
}

.nav ul {
        list-style-type: none;
        padding: 0;
                
    }

.nav ul li {
        list-style-type: none;
        display:inline;
        padding-right: 50px;
        font-size: 30px;
 }
.nav ul a {
            text-decoration: none;
            color: antiquewhite;
            text-align:center;

  }
.nav ul a:hover {
                text-decoration: none;
                color: #3CDBD3;
                text-align:center;

  }

  #gameCanvas{
    line-height: 40px;
    font-size: 25px;
    background-image: linear-gradient(to right, #3CDBD3 0%, #a7ecea 10%);
    
  }

@media all and (min-width: 768px) {
            

    .section {
        -webkit-flex: 5 0px;
        flex: 5 0px;
        -webkit-order: 2;
        order: 2;
    }
           
    .article {
        -webkit-flex: 2 0px;
        flex: 2 0px;
        -webkit-order: 3;
        order: 3;
    }
    footer {
        -webkit-order: 4;
        order: 4;
    }
           
}

#footer ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;                
    }

#footer ul li {
        list-style-type: none;
        display:inline;
        padding: 5px;
 }
 #footer ul a {
            text-decoration: none;
            color: #545b61;
            text-align:center;

  }
#footer ul a:hover {
                text-decoration: none;
                color: #53b0f3;
                text-align:center;

  }
/* main page */
 #main_pic_game{
  width: 100%;  
  display: -webkit-flex; /* Safari */
  display: flex;
  text-align: center;

 }
 #main_pic_game div{
  -webkit-flex: 1;
  flex: 1;
  -webkit-order: 1;
  text-align: center;          
 }
 
.pic_game img{
  border: 8px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  cursor: pointer;
  transition: box-shadow .5s;
  box-sizing: border-box;  
  margin-top: 30px;
  width: 100%;
} 

.pic_game h2{
    
    text-align: center;
    margin: 10px;
    color: darkslategrey;

}

.pic_game {
    position: relative;
    text-align: center;
    padding: 10px;
   
}

.image {
  opacity: 1;
  display: block;  
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  background-color: #265499;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  background-color: #265499;
  text-align: center;
}

.middle a{
    text-decoration: none;
}

.pic_game:hover .image {
  opacity: 0.3;
  
}

.pic_game:hover .middle {
  opacity: 1;
  background-color: #265499;
}

.text {
  background-color: #265499;
  color: white;
  font-size: 16px;
  padding: 10px;

}

/* The CSS that follows is for the modal dialog boxes that appear over the games */

/* MIGUEL TODO: use the same font here as the rest of the site */
.modal-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal, #settingsModal {
  display: none;
  position: relative;
  width: 500px;
  height: 400px;
  max-height: 90%;
  max-width: 90%;
  min-height: 380px;
  margin: 0 auto;
  background: white;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 30px 10px;
}
.modal .winner {
  font-size: 80px;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: #4d4d4d;
  text-shadow: 0px 3px 0 black;
}
@media (max-width: 480px) {
  .modal .winner {
    font-size: 60px;
  }
}
.modal .restart {
  font-family: "Anton", sans-serif;
  margin: 30px auto;
  padding: 20px 30px;
  display: block;
  font-size: 30px;
  border: none;
  background: #4d4d4d;
  background: -webkit-linear-gradient(#4d4d4d, #222);
  background: linear-gradient(#4d4d4d, #222);
  border: 1px solid #222;
  border-radius: 5px;
  color: white;
  text-shadow: 0px 1px 0 black;
  cursor: pointer;
}
.modal .restart:hover {
  background: -webkit-linear-gradient(#222, black);
  background: linear-gradient(#222, black);
}
.modal .message {
  text-align: center;
}
.modal .message a {
  text-decoration: none;
  color: #28afe6;
  font-weight: bold;
}
.modal .message a:hover {
  color: #56c0eb;
  border-bottom: 1px dotted #56c0eb;
}

/* We're styling our site with ...()
    Remove it from the actual content and place it in the stylesheet
    use the .dotdotdot class


.dotdotdot::after {
    content: "...( )";
}*/